@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.card {
  background-color: white;
  border-radius: 15px;
  width: 230px;
  padding-top: 15px;
  padding-bottom: 30px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card > img {
  border-radius: 15px;
}

.title {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bolder;
  color: black;
}

p {
  margin: 20px 0;
  font-size: small;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
