@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  width: 300px;
}

.content {
  display: block;
  text-align: center;
  padding: 5px;
}

h3 {
  font-weight: bolder;
}
